@font-face {
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1657024856610') format('woff2'),
        url('iconfont.woff?t=1657024856610') format('woff'),
        url('iconfont.ttf?t=1657024856610') format('truetype');
}


body, dl, dt, dd, ol, ul, h1, h2, h3, h4, h5, h6, p, pre, code, form, fieldset, legend, figure {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}


body{
    display: flex;
    /* background-color: antiquewhite; */
    background-image: url("https://api.paugram.com/bing");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    overflow: hidden;
}



.header{
   height: 4em;
   /* width: 100%; */
    /* background-color: aqua; */

    display: flex;
    margin: auto;
    margin-top: 7em;
    display: inline-block;
    align-items: center;
    /* border: 1px solid red; */
}


.timebox {
    
    margin: auto;
    /* width: 5.8em; */
    /* background-color: rgba(255, 255, 255, 0.6); */
    border-radius:  1em;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 20%; */
    /* transform: translate(-50%, -50%); */
    /* box-shadow: 1px 1px 10px #fff; */
    text-shadow: 0px 1px 30px white;
    color: rgba(0, 0, 0,.8);

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
    user-select: none;
    padding: 0 20px;

    /* 盒子投影 */
    /* -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, .2))); */

    transition: all .6s;
}

.timebox:hover{
    font-size: 2.3em;
    /* transform: ; */
    background-color: rgba(255, 255, 255, 0.3);
}



.main{
    display: inline-block;
    /* display: flex; */
    height: 30em;
    width: 100%;
    margin: auto;
    padding: 1em;
    max-width: 50em;
    border: 1px;
    /* overflow: hidden; */
}

.inputbox{
    height: 3em;
    display: flex;
    color: rgb(51,51,51);
    /* position: relative; */
    padding: .1em 1em;
    border-radius: 3em;
    background-color: #fff;
}


input{
    outline: none;
}

.search-select{
    padding: .75em 0;
    background-color: #fff;
    cursor: pointer;
}

.search-select .iconfont{
    font-weight: 300;
    color: goldenrod;
    font-size: 1.5em;
    pointer-events: none;
    
}

.inputbox input{
    font-size: 1.2em;
    flex: 1 1 auto;
    max-width: 100%;
    border-radius: 0;
    border:  none;
    margin: 0 1em;
    background-color: transparent;
}



.btn{
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    padding: .3em 1em;
    border-radius: .3em;
    /* display: inline-block; */
    border:1px;
    font-style: italic;
    font-weight: 900;
}

.select-search{
    /* display: flex; */
    width: 4em;
    height: 11.1em;
    border-radius: 4em;
    background-color: #fff;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    display: none;
}
.select-search>div{
    /* background-color: black; */
    width: 2.2em;
    height: 2.2em;
    /* background-color: black; */
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 2em;
    /* background-color:rgba(119,119,118,.1); */

}
.select-search>div:hover{
    background-color:rgba(119,119,118,.1);
}



.select-search .iconfont{
    font-weight: 300;
    color: goldenrod;
    font-size: 1.5em;
    pointer-events: none; 
}


footer{
    height: 2em;
    font-size: 0.8em;
    text-align: center;
    line-height: 2em;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2em;
    user-select: none;
} 

.sentence{
    width: 5em;
    height: 4em;
}






